{% extends 'departamentos/index.html' %}

{% block titulo %} <title>Detalle del Departamento</title> {% endblock %}

{% block cartas %} {% endblock %}

{% block contenido %}
    <div class="container mt-5 d-flex justify-content-center">

        <div class="card card-custom p-4 w-50">

            <h3 class="text-center mb-4">Detalle del Departamento</h3>

            <ul class="list-group list-group-flush">

                <li class="list-group-item bg-transparent text-white">
                    <strong>Nro Departamento:</strong> {{ departamento_q.nro_departamento }}
                </li>

                <li class="list-group-item bg-transparent text-white">
                    <strong>Nombre:</strong> {{ departamento_q.nombre }}
                </li>

                <li class="list-group-item bg-transparent text-white">
                    <strong>Email:</strong> {{ departamento_q.email_dpto }}
                </li>

                <li class="list-group-item bg-transparent text-white">
                    <strong>Nro Empleados:</strong> {{ departamento_q.nro_empleados }}
                </li>

                <li class="list-group-item bg-transparent text-white">
                    <strong>Fecha de creación:</strong> {{ departamento_q.fecha_de_creacion }}
                </li>

            </ul>

            <!-- BOTONES -->
            <div class="d-flex justify-content-between mt-4">
                <a href="{% url 'departamentos_list' %}" class="btn btn-secondary">
                    Volver
                </a>

                <a href="{% url 'home' %}" class="btn btn-custom">
                    Inicio
                </a>
            </div>

        </div>

    </div>
{% endblock %}