{% extends "departamentos/index.html" %}

{% block titulo %}
<title>Detalle del Médico</title>
{% endblock %}
{% block cartas %} {% endblock %}
{% block contenido %}
<div class="container mt-5">
    <div class="card card-custom p-4 text-center">
        <h2>{{ object.nombre }} {{ object.apellido }}</h2>

        <p class="mt-3"><strong>Especialidad:</strong> {{ object.especialidad }}</p>
        <p><strong>Fecha de inicio:</strong> {{ object.fecha_de_inicio }}</p>
        <p><strong>Código:</strong> {{ object.code }}</p>

        <div class="mt-4">
            <a href="{% url 'medico_delete' object.code %}" class="btn btn-danger">
                Eliminar
            </a>

            <a href="{% url 'medico_list' %}" class="btn btn-secondary">
                Volver
            </a>
        </div>
    </div>
</div>
{% endblock %}