{% extends "departamentos/index.html" %}

{% block titulo %}
<title>Crear Médico</title>
{% endblock %}
{% block cartas %} {% endblock %}
{% block contenido %}
<div class="container mt-5">
    <div class="card card-custom p-4 mx-auto" style="max-width: 600px;">
        
        <h2 class="text-center mb-4">Nuevo Médico</h2>

        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <div class="text-center mt-3">
                <button type="submit" class="btn btn-success">
                    Guardar
                </button>

                <a href="{% url 'medico_list' %}" class="btn btn-secondary">
                    Cancelar
                </a>
            </div>
        </form>

    </div>
</div>
{% endblock %}